<app-topnav></app-topnav>

<section class="content login-div home-div">
    <div class="container">
        <div class="bid-profile">
            <div class="row clearfix">
                <h1>About us</h1>
               <p>
<b>Hello, we’re proptecs.</b> <br/>
Whether you’re buying or selling a home, we’re here to make things go easier. We remove
many of the common pain points associated with a traditional experience, helping you move
freely. This is real estate the way it should be – this is proptecs.</p> 

<b>Our values</b><br/>
<p>
<b>Homes not houses</b> <br/>
A house is property, but a home is uniquely personal – a place full of emotion and memories.
We help people move freely so they can live their best lives, wherever “home” happens to be.</p>

<p>
<b>Freedom first</b> <br/>
Providing home buyers and sellers freedom is our passion. No one should ever feel stuck. We
provide convenience, control and certainty in all we do.
</p>

<p>
<b>Every day matters</b> <br/>
We operate with urgency in pursuit of delivering the best customer experience in the industry.
There’s no room for hesitation – we count the days with the goal to use less.
</p>
<p>
<b>Results rule</b> <br/>
We get things done. We celebrate doers. We don’t talk about what we’re going to do, we just
do it. When we see a problem, we solve it.
</p>
<p>
<b>Embrace our roots</b> <br/>
We know homes. We understand the people in those homes at a “living room” level. We
leverage our past to provide the best way to buy and sell a home.
</p>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>