.text-blue{
font-weight: bold;
color: #12a4d1;
width: 15%;
float: left;
}
.text-plain{
    font-weight: bold;
   
    width: 15%;
    float: left;
    }
.text-red{
    font-weight: bold;
    color: #DA4E47;
 
    }
