<app-topnav></app-topnav>

<section class="content login-div">
        <div class="container">
            
            <div class="forgot-div">
                    <div class="forgot-inner">
            <div class="login-top">
                <h1 class="login-title"> <img src="assets/images/login-logo.png" /> Forget your password? Let's get you a new one.</h1>                
            </div>    
            <div class="login-form">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row clearfix"> 
                            <input type="email" class="form-control"
                            placeholder="Email Address"
                            />
                      <div class="btn-create btn-forget">
                            <button type="button" class="btn btn-info m-t-0 waves-effect"
                            >Reset Your Password</button>
                      </div>
                            
                    </div>
                </div>
            </div>
        </div>
        </div>

    
        </div>
    </section>


<app-footer></app-footer>