<app-topnav></app-topnav>

<section class="content login-div home-div">
    <div class="container">
        <div class="bid-profile" style="">
            <div class="row clearfix">
                <h1>How It Works</h1>
                <p>
                    <b>1 - Tell us about your house</b><br/>
                Simply provide proptecs with your address and brief details about your home’s upgrades and
                current condition. Pictures are encouraged, but optional.</p>
                <p>
                    <b>2 - Our analysts will get to work</b><br/>
                We look at more than our powerful algorithm—we evaluate the factors that make your home
                special. Our review takes about 24 hours. Once it’s complete we’ll send you our offer.</p>
                <p>
                    <b>3 - Review &amp; select your options</b><br/>
                Should we include our Free Local Move? When do you think your flexible closing date might
                be? Will you need an Extended Stay after close? With proptecs, it’s all up to you.</p>
                <p>
                    <b>4 - Easily sign all documents online!</b><br/>
                    proptecs will send you the purchase contract and if you approve, simply sign online and we’re
                under contract!</p>
                <p>
                    <b>5 - proptecs will perform an on-site home inspection</b><br/>
                This visit gives proptecs an opportunity to verify the condition of your home.</p>
                <p>
                    <b>6 - Yes. It’s that simple.</b><br/>
                At closing, we pay the agreed upon price and buy your home! You’re able to move freely to
                life’s next chapter.</p>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>